<!DOCTYPE html>
<html>
<head>
	<title>Recettes</title>
</head>

<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

<body>

	<header>

		<img src="{{ asset('assets/img/logo.jpg') }}" alt="logo recettes" />

		<nav>

			<ul>
				<li><a>Accueil</a></li>
				<li><a>Liste des recettes</a></li>
			</ul>

	 </nav>

 </header>